<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sshs.system.org.mapper.OrgMapper">

    <!--表名 -->
    <sql id="tableName">
		SYS_ORG
	</sql>

    <!-- 字段 -->
    <sql id="Field">
				ORG_ID as id,
				STATUS,
				COUNTRY,
				EMAIL,
				OFFICE_ADDR,
				POST,
				TEL,
				CONTACT,
				ORG_FI_NO,
				ORG_PAY_NO,
				ORG_CREDIT_NO,
				ORG_CODE,
				ORG_PERMIT_NO,
				ORG_REG_NO,
				ORG_ID_NUMBER,
				ORG_TAX_NO,
				ORG_CREATE_DATE,
				ORG_START_DATE,
				ORG_END_DATE,
				ORG_HEADER,
				NODE_NO,
				IS_LEAF,
				ORG_NAME,
				BUSI_STATUS,
				AREA_CODE,
				ORDERS,
				OWN_LINE,
				VER_NO,
				PROCESS_INSTANCE_ID,
				REMARK,
				CRT_USER_CODE,
				CRT_ORG_CODE,
				CRT_DATE,
				ORG_BRIEF,
				UPD_USER_CODE,
				UPD_ORG_CODE,
				UPD_DATE,
				PARENT_ORG_CODE,
				ORG_CATEGORY,
				ORG_LEVEL,
				ORG_GRADE,
				PATH_NAME
	</sql>

    <!-- 根据ORG_CODE查询系统管理->系统管理-机构表 org_code 空时查询跟节点 -->
   <!-- <select id="findOrgById" parameterType="String"
            resultType="Org">
        SELECT
        <include refid="Field"></include>
        FROM
        <include refid="tableName"></include>
        WHERE
        <choose>
            <when test="_parameter != null and _parameter != ''">
                ORG_CODE= #{_parameter}
            </when>
            <otherwise>PARENT_ORG_CODE IS NULL OR PARENT_ORG_CODE='0'</otherwise>
        </choose>
    </select>-->

    <!-- 查询所有机构记录 -->
   <!-- <select id="findOrgAll"
            resultType="Org">
        SELECT
        <include refid="Field"></include>
        FROM
        <include refid="tableName"></include>
        order by org_code
    </select>
-->
    <!-- 根据ORG_CODE查询最后一个子节点 -->
   <!-- <select id="findLastChildCodeById" parameterType="String"
            resultType="String">
        SELECT
        max(org_code) as org_code
        FROM
        <include refid="tableName"></include>
        WHERE PARENT_CODE= #{_parameter}
    </select>-->

    <!-- 分页查询系统管理->系统管理-机构表-查询列信息 -->
    <select id="findForList" parameterType="Page"
            resultType="Org">
        SELECT
        <include refid="Field"></include>
        FROM
        <include refid="tableName"></include>
        WHERE 1=1
        <if test="orgId != null and orgId != ''">
            AND ORG_ID
            <choose>
                <when test="operators.orgId != null and operators.orgId != '' ">${operators.orgId}</when>
                <otherwise>=</otherwise>
            </choose>
            #{orgId}
        </if>
        <if test="status != null and status != ''">
            AND STATUS
            <choose>
                <when test="operators.status != null and operators.status != '' ">${operators.status}</when>
                <otherwise>=</otherwise>
            </choose>
            #{status}
        </if>
        <if test="country != null and country != ''">
            AND COUNTRY
            <choose>
                <when test="operators.country != null and operators.country != '' ">${operators.country}</when>
                <otherwise>=</otherwise>
            </choose>
            #{country}
        </if>
        <if test="email != null and email != ''">
            AND EMAIL
            <choose>
                <when test="operators.email != null and operators.email != '' ">${operators.email}</when>
                <otherwise>=</otherwise>
            </choose>
            #{email}
        </if>
        <if test="officeAddr != null and officeAddr != ''">
            AND OFFICE_ADDR
            <choose>
                <when test="operators.officeAddr != null and operators.officeAddr != '' ">${operators.officeAddr}</when>
                <otherwise>=</otherwise>
            </choose>
            #{officeAddr}
        </if>
        <if test="post != null and post != ''">
            AND POST
            <choose>
                <when test="operators.post != null and operators.post != '' ">${operators.post}</when>
                <otherwise>=</otherwise>
            </choose>
            #{post}
        </if>
        <if test="tel != null and tel != ''">
            AND TEL
            <choose>
                <when test="operators.tel != null and operators.tel != '' ">${operators.tel}</when>
                <otherwise>=</otherwise>
            </choose>
            #{tel}
        </if>
        <if test="contact != null and contact != ''">
            AND CONTACT
            <choose>
                <when test="operators.contact != null and operators.contact != '' ">${operators.contact}</when>
                <otherwise>=</otherwise>
            </choose>
            #{contact}
        </if>
        <if test="orgFiNo != null and orgFiNo != ''">
            AND ORG_FI_NO
            <choose>
                <when test="operators.orgFiNo != null and operators.orgFiNo != '' ">${operators.orgFiNo}</when>
                <otherwise>=</otherwise>
            </choose>
            #{orgFiNo}
        </if>
        <if test="orgPayNo != null and orgPayNo != ''">
            AND ORG_PAY_NO
            <choose>
                <when test="operators.orgPayNo != null and operators.orgPayNo != '' ">${operators.orgPayNo}</when>
                <otherwise>=</otherwise>
            </choose>
            #{orgPayNo}
        </if>
        <if test="orgCreditNo != null and orgCreditNo != ''">
            AND ORG_CREDIT_NO
            <choose>
                <when test="operators.orgCreditNo != null and operators.orgCreditNo != '' ">${operators.orgCreditNo}
                </when>
                <otherwise>=</otherwise>
            </choose>
            #{orgCreditNo}
        </if>
        <if test="orgCode != null and orgCode != ''">
            AND ORG_CODE
            <choose>
                <when test="operators.orgCode != null and operators.orgCode != '' ">${operators.orgCode}</when>
                <otherwise>=</otherwise>
            </choose>
            #{orgCode}
        </if>
        <if test="orgPermitNo != null and orgPermitNo != ''">
            AND ORG_PERMIT_NO
            <choose>
                <when test="operators.orgPermitNo != null and operators.orgPermitNo != '' ">${operators.orgPermitNo}
                </when>
                <otherwise>=</otherwise>
            </choose>
            #{orgPermitNo}
        </if>
        <if test="orgRegNo != null and orgRegNo != ''">
            AND ORG_REG_NO
            <choose>
                <when test="operators.orgRegNo != null and operators.orgRegNo != '' ">${operators.orgRegNo}</when>
                <otherwise>=</otherwise>
            </choose>
            #{orgRegNo}
        </if>
        <if test="orgIdNumber != null and orgIdNumber != ''">
            AND ORG_ID_NUMBER
            <choose>
                <when test="operators.orgIdNumber != null and operators.orgIdNumber != '' ">${operators.orgIdNumber}
                </when>
                <otherwise>=</otherwise>
            </choose>
            #{orgIdNumber}
        </if>
        <if test="orgTaxNo != null and orgTaxNo != ''">
            AND ORG_TAX_NO
            <choose>
                <when test="operators.orgTaxNo != null and operators.orgTaxNo != '' ">${operators.orgTaxNo}</when>
                <otherwise>=</otherwise>
            </choose>
            #{orgTaxNo}
        </if>
        <if test="orgCreateDate != null and orgCreateDate != ''">
            AND ORG_CREATE_DATE
            <choose>
                <when test="operators.orgCreateDate != null and operators.orgCreateDate != '' ">
                    ${operators.orgCreateDate}
                </when>
                <otherwise>=</otherwise>
            </choose>
            #{orgCreateDate}
        </if>
        <if test="orgStartDate != null and orgStartDate != ''">
            AND ORG_START_DATE
            <choose>
                <when test="operators.orgStartDate != null and operators.orgStartDate != '' ">
                    ${operators.orgStartDate}
                </when>
                <otherwise>=</otherwise>
            </choose>
            #{orgStartDate}
        </if>
        <if test="orgEndDate != null and orgEndDate != ''">
            AND ORG_END_DATE
            <choose>
                <when test="operators.orgEndDate != null and operators.orgEndDate != '' ">${operators.orgEndDate}</when>
                <otherwise>=</otherwise>
            </choose>
            #{orgEndDate}
        </if>
        <if test="orgHeader != null and orgHeader != ''">
            AND ORG_HEADER
            <choose>
                <when test="operators.orgHeader != null and operators.orgHeader != '' ">${operators.orgHeader}</when>
                <otherwise>=</otherwise>
            </choose>
            #{orgHeader}
        </if>
        <if test="nodeNo != null and nodeNo != ''">
            AND NODE_NO
            <choose>
                <when test="operators.nodeNo != null and operators.nodeNo != '' ">${operators.nodeNo}</when>
                <otherwise>=</otherwise>
            </choose>
            #{nodeNo}
        </if>
        <if test="isLeaf != null and isLeaf != ''">
            AND IS_LEAF
            <choose>
                <when test="operators.isLeaf != null and operators.isLeaf != '' ">${operators.isLeaf}</when>
                <otherwise>=</otherwise>
            </choose>
            #{isLeaf}
        </if>
        <if test="orgName != null and orgName != ''">
            AND ORG_NAME
            <choose>
                <when test="operators.orgName != null and operators.orgName != '' ">${operators.orgName}</when>
                <otherwise>=</otherwise>
            </choose>
            #{orgName}
        </if>
        <if test="busiStatus != null and busiStatus != ''">
            AND BUSI_STATUS
            <choose>
                <when test="operators.busiStatus != null and operators.busiStatus != '' ">${operators.busiStatus}</when>
                <otherwise>=</otherwise>
            </choose>
            #{busiStatus}
        </if>
        <if test="areaCode != null and areaCode != ''">
            AND AREA_CODE
            <choose>
                <when test="operators.areaCode != null and operators.areaCode != '' ">${operators.areaCode}</when>
                <otherwise>=</otherwise>
            </choose>
            #{areaCode}
        </if>
        <if test="orders != null and orders != ''">
            AND ORDERS
            <choose>
                <when test="operators.orders != null and operators.orders != '' ">${operators.orders}</when>
                <otherwise>=</otherwise>
            </choose>
            #{orders}
        </if>
        <if test="ownLine != null and ownLine != ''">
            AND OWN_LINE
            <choose>
                <when test="operators.ownLine != null and operators.ownLine != '' ">${operators.ownLine}</when>
                <otherwise>=</otherwise>
            </choose>
            #{ownLine}
        </if>
        <if test="verNo != null and verNo != ''">
            AND VER_NO
            <choose>
                <when test="operators.verNo != null and operators.verNo != '' ">${operators.verNo}</when>
                <otherwise>=</otherwise>
            </choose>
            #{verNo}
        </if>
        <if test="processInstanceId != null and processInstanceId != ''">
            AND PROCESS_INSTANCE_ID
            <choose>
                <when test="operators.processInstanceId != null and operators.processInstanceId != '' ">
                    ${operators.processInstanceId}
                </when>
                <otherwise>=</otherwise>
            </choose>
            #{processInstanceId}
        </if>
        <if test="remark != null and remark != ''">
            AND REMARK
            <choose>
                <when test="operators.remark != null and operators.remark != '' ">${operators.remark}</when>
                <otherwise>=</otherwise>
            </choose>
            #{remark}
        </if>
        <if test="crtUserCode != null and crtUserCode != ''">
            AND CRT_USER_CODE
            <choose>
                <when test="operators.crtUserCode != null and operators.crtUserCode != '' ">${operators.crtUserCode}
                </when>
                <otherwise>=</otherwise>
            </choose>
            #{crtUserCode}
        </if>
        <if test="crtOrgCode != null and crtOrgCode != ''">
            AND CRT_ORG_CODE
            <choose>
                <when test="operators.crtOrgCode != null and operators.crtOrgCode != '' ">${operators.crtOrgCode}</when>
                <otherwise>=</otherwise>
            </choose>
            #{crtOrgCode}
        </if>
        <if test="crtDate != null and crtDate != ''">
            AND CRT_DATE
            <choose>
                <when test="operators.crtDate != null and operators.crtDate != '' ">${operators.crtDate}</when>
                <otherwise>=</otherwise>
            </choose>
            #{crtDate}
        </if>
        <if test="orgBrief != null and orgBrief != ''">
            AND ORG_BRIEF
            <choose>
                <when test="operators.orgBrief != null and operators.orgBrief != '' ">${operators.orgBrief}</when>
                <otherwise>=</otherwise>
            </choose>
            #{orgBrief}
        </if>
        <if test="updUserCode != null and updUserCode != ''">
            AND UPD_USER_CODE
            <choose>
                <when test="operators.updUserCode != null and operators.updUserCode != '' ">${operators.updUserCode}
                </when>
                <otherwise>=</otherwise>
            </choose>
            #{updUserCode}
        </if>
        <if test="updOrgCode != null and updOrgCode != ''">
            AND UPD_ORG_CODE
            <choose>
                <when test="operators.updOrgCode != null and operators.updOrgCode != '' ">${operators.updOrgCode}</when>
                <otherwise>=</otherwise>
            </choose>
            #{updOrgCode}
        </if>
        <if test="updDate != null and updDate != ''">
            AND UPD_DATE
            <choose>
                <when test="operators.updDate != null and operators.updDate != '' ">${operators.updDate}</when>
                <otherwise>=</otherwise>
            </choose>
            #{updDate}
        </if>
        <if test="parentOrgCode != null and parentOrgCode != ''">
            AND PARENT_ORG_CODE
            <choose>
                <when test="operators.parentOrgCode != null and operators.parentOrgCode != '' ">
                    ${operators.parentOrgCode}
                </when>
                <otherwise>=</otherwise>
            </choose>
            #{parentOrgCode}
        </if>
        <if test="orgCategory != null and orgCategory != ''">
            AND ORG_CATEGORY
            <choose>
                <when test="operators.orgCategory != null and operators.orgCategory != '' ">${operators.orgCategory}
                </when>
                <otherwise>=</otherwise>
            </choose>
            #{orgCategory}
        </if>
        <if test="orgLevel != null and orgLevel != ''">
            AND ORG_LEVEL
            <choose>
                <when test="operators.orgLevel != null and operators.orgLevel != '' ">${operators.orgLevel}</when>
                <otherwise>=</otherwise>
            </choose>
            #{orgLevel}
        </if>
        <if test="orgGrade != null and orgGrade != ''">
            AND ORG_GRADE
            <choose>
                <when test="operators.orgGrade != null and operators.orgGrade != '' ">${operators.orgGrade}</when>
                <otherwise>=</otherwise>
            </choose>
            #{orgGrade}
        </if>
        <if test="pathName != null and pathName != ''">
            AND PATH_NAME
            <choose>
                <when test="operators.pathName != null and operators.pathName != '' ">${operators.pathName}</when>
                <otherwise>=</otherwise>
            </choose>
            #{pathName}
        </if>
        <if test="@orgAuth != null and @orgAuth != ''">
            AND ORG_CODE ${_orgAuth}
        </if>
        <if test="@userAuth != null and @userAuth != ''">
            AND USER_CODE ${_userAuth}
        </if>
    </select>
</mapper>