<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sshs.system.authorize.mapper.AuthorizeMapper">

    <!--表名 -->
    <sql id="tableName">
		SYS_AUTHORIZE
	</sql>

    <!-- 字段 -->
    <sql id="Field">
				AUTHORIZE_ID ,
				CRT_DATE,
				UPD_USER_CODE,
				UPD_ORG_CODE,
				UPD_DATE,
				RESOURCE_ID,
				RESOURCE_NAME,
				ROLE_CODE,
				RESOURCE_TYPE,
				AUTHORIZE_TYPE,
				DATA_AUTH_TYPE,
				CRT_USER_CODE,
				CRT_ORG_CODE
	</sql>

    <!-- <delete id="deleteByRoleCode" parameterType="String">
         delete from  <include refid="tableName"></include> where role_code=#{_parameter}
     </delete>-->


    <!-- 分页查询系统管理->系统管理-角色权限表-查询列信息 -->
    <select id="findForList" parameterType="com.sshs.core.page.Page"
            resultType="com.sshs.system.authorize.model.Authorize">
        SELECT
        <include refid="Field"></include>
        FROM
        <include refid="tableName"></include>
        WHERE 1=1
        <if test="variable.authorizeId != null and variable.authorizeId != ''">
            AND AUTHORIZE_ID
            <choose>
                <when test="variable.operators.authorizeId != null and variable.operators.authorizeId != '' ">${variable.operators.authorizeId}
                </when>
                <otherwise>=</otherwise>
            </choose>
            #{variable.authorizeId}
        </if>
        <if test="variable.crtDate != null and variable.crtDate != ''">
            AND CRT_DATE
            <choose>
                <when test="variable.operators.crtDate != null and variable.operators.crtDate != '' ">${variable.operators.crtDate}</when>
                <otherwise>=</otherwise>
            </choose>
            #{variable.crtDate}
        </if>
        <if test="variable.updUserCode != null and variable.updUserCode != ''">
            AND UPD_USER_CODE
            <choose>
                <when test="variable.operators.updUserCode != null and variable.operators.updUserCode != '' ">${variable.operators.updUserCode}
                </when>
                <otherwise>=</otherwise>
            </choose>
            #{variable.updUserCode}
        </if>
        <if test="variable.updOrgCode != null and variable.updOrgCode != ''">
            AND UPD_ORG_CODE
            <choose>
                <when test="variable.operators.updOrgCode != null and variable.operators.updOrgCode != '' ">${variable.operators.updOrgCode}</when>
                <otherwise>=</otherwise>
            </choose>
            #{variable.updOrgCode}
        </if>
        <if test="variable.updDate != null and variable.updDate != ''">
            AND UPD_DATE
            <choose>
                <when test="variable.operators.updDate != null and variable.operators.updDate != '' ">${operators.updDate}</when>
                <otherwise>=</otherwise>
            </choose>
            #{variable.updDate}
        </if>
        <if test="resourceId != null and resourceId != ''">
            AND RESOURCE_ID
            <choose>
                <when test="variable.operators.resourceId != null and variable.operators.resourceId != '' ">${variable.operators.resourceId}</when>
                <otherwise>=</otherwise>
            </choose>
            #{variable.resourceId}
        </if>
        <if test="variable.resourceName != null and variable.resourceName != ''">
            AND RESOURCE_NAME
            <choose>
                <when test="variable.operators.resourceName != null and variable.operators.resourceName != '' ">
                    ${variable.operators.resourceName}
                </when>
                <otherwise>=</otherwise>
            </choose>
            #{variable.resourceName}
        </if>
        <if test="variable.roleCode != null and variable.roleCode != ''">
            AND ROLE_CODE
            <choose>
                <when test="variable.operators.roleCode != null and variable.operators.roleCode != '' ">${variable.operators.roleCode}</when>
                <otherwise>=</otherwise>
            </choose>
            #{variable.roleCode}
        </if>
        <if test="variable.resourceType != null and variable.resourceType != ''">
            AND RESOURCE_TYPE
            <choose>
                <when test="variable.operators.resourceType != null and variable.operators.resourceType != '' ">
                    ${variable.operators.resourceType}
                </when>
                <otherwise>=</otherwise>
            </choose>
            #{variable.resourceType}
        </if>
        <if test="variable.authorizeType != null and variable.authorizeType != ''">
            AND AUTHORIZE_TYPE
            <choose>
                <when test="variable.operators.authorizeType != null and variable.operators.authorizeType != '' ">
                    ${variable.operators.authorizeType}
                </when>
                <otherwise>=</otherwise>
            </choose>
            #{variable.authorizeType}
        </if>
        <if test="variable.dataAuthType != null and variable.dataAuthType != ''">
            AND DATA_AUTH_TYPE
            <choose>
                <when test="variable.operators.dataAuthType != null and variable.operators.dataAuthType != '' ">
                    ${variable.operators.dataAuthType}
                </when>
                <otherwise>=</otherwise>
            </choose>
            #{variable.dataAuthType}
        </if>
        <if test="variable.crtUserCode != null and variable.crtUserCode != ''">
            AND CRT_USER_CODE
            <choose>
                <when test="variable.operators.crtUserCode != null and variable.operators.crtUserCode != '' ">${variable.operators.crtUserCode}
                </when>
                <otherwise>=</otherwise>
            </choose>
            #{variable.crtUserCode}
        </if>
        <if test="variable.crtOrgCode != null and variable.crtOrgCode != ''">
            AND CRT_ORG_CODE
            <choose>
                <when test="variable.operators.crtOrgCode != null and variable.operators.crtOrgCode != '' ">${variable.operators.crtOrgCode}</when>
                <otherwise>=</otherwise>
            </choose>
            #{variable.crtOrgCode}
        </if>
    </select>
</mapper>