<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sshs.shiro.mapper.LoginUserMapper">
    <!-- 查询权限管理->安全管理-用户表-根据用户ID查询用户信息 -->
    <select id="findSecurityUserByUserName" parameterType="String"
            resultType="com.sshs.shiro.model.LoginUser">
	SELECT
	USER_CODE AS USERNAME,USER_NAME AS REAL_NAME,PASSWORD,ORG_CODE,STATUS,SALT,PHOTO_ID AS AVATAR,BIRTH_DATE AS BIRTHDAY,USER_SEX AS SEX,MOBILE_PHONE AS PHONE
 FROM
	SYS_USER
	WHERE USER_CODE=#{userId}
	</select>
</mapper>