<?xml version="1.0" encoding="UTF-8"?>
<classes encoding="UTF-8">
	<clazz>
		<packageName>model</packageName>
		<className>${coder.className}.java</className>
		<template>model.ftl</template>
	</clazz>
	<clazz>
		<packageName>mapper</packageName>
		<className>${coder.className}Mapper.java</className>
		<template>mapper.ftl</template>
	</clazz>
	<clazz>
		<packageName>service</packageName>
		<className>I${coder.className}Service.java</className>
		<template>service.ftl</template>
	</clazz>
	<clazz>
		<packageName>service.impl</packageName>
		<className>${coder.className}ServiceImpl.java</className>
		<template>serviceImpl.ftl</template>
	</clazz>
	<clazz>
		<packageName>controller</packageName>
		<className>${coder.className}Controller.java</className>
		<template>controller.ftl</template>
	</clazz>
	<clazz>
		<packageName>mapper</packageName>
		<className>${coder.className}Mapper.xml</className>
		<template>mapper.xml.ftl</template>
	</clazz>
	<clazz>
		<packageName>ddl.oracle</packageName>
		<className>${coder.className}.oracle.sql</className>
		<template>ddl.oracle.ftl</template>
	</clazz>

	<clazz>
		<packageName>view</packageName>
		<className>${coder.className}Edit.vue</className>
		<template>viewEdit.ftl</template>
	</clazz>
	<clazz>
		<packageName>view</packageName>
		<className>${coder.className}List.vue</className>
		<template>viewList.ftl</template>
	</clazz>
	<clazz>
		<packageName>view</packageName>
		<className>${coder.className}Query.vue</className>
		<template>viewQuery.ftl</template>
	</clazz>
	<clazz>
		<packageName>view</packageName>
		<className>i18n/label_zh_CN.js</className>
		<template>label_zhCN.ftl</template>
	</clazz>
	<clazz>
		<packageName>view</packageName>
		<className>i18n/label_en_US.js</className>
		<template>label_enUS.ftl</template>
	</clazz>
</classes>