<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sshs.system.role.mapper.RoleMapper">
	
	<!--表名 -->
	<sql id="tableName">
		SYS_ROLE
	</sql>
	
	<!-- 字段 -->
	<sql id="Field">
				ROLE_ID ,
				UPD_USER_CODE,
				UPD_ORG_CODE,
				UPD_DATE,
				ROLE_CODE,
				ROLE_NAME,
				REMARK,
				ROLE_LEVEL,
				STATUS,
				CRT_USER_CODE,
				CRT_ORG_CODE,
				CRT_DATE
	</sql>
	  <!-- 查询系统管理->系统管理-角色表-查询列信息 -->
	<select id="findForList" parameterType="com.sshs.core.page.Page"
		resultType="com.sshs.system.role.model.Role">
		SELECT  
		<include refid="Field"></include>
		FROM 
		<include refid="tableName"></include>
		WHERE 1=1
			<if test="variable.roleId != null and variable.roleId != ''">
				AND ROLE_ID 
				<choose>
					<when test="variable.operators.roleId != null and variable.operators.roleId != '' ">${variable.operators.roleId}</when>
					<otherwise> = </otherwise>
				</choose> 
			#{variable.roleId}
			</if>	
			<if test="variable.updUserCode != null and variable.updUserCode != ''">
				AND UPD_USER_CODE 
				<choose>
					<when test="variable.operators.updUserCode != null and variable.operators.updUserCode != '' ">${variable.operators.updUserCode}</when>
					<otherwise> = </otherwise>
				</choose> 
			#{variable.updUserCode}
			</if>	
			<if test="variable.updOrgCode != null and variable.updOrgCode != ''">
				AND UPD_ORG_CODE 
				<choose>
					<when test="variable.operators.updOrgCode != null and variable.operators.updOrgCode != '' ">${variable.operators.updOrgCode}</when>
					<otherwise> = </otherwise>
				</choose> 
			#{variable.updOrgCode}
			</if>	
			<if test="variable.updDate != null and variable.updDate != ''">
				AND UPD_DATE 
				<choose>
					<when test="variable.operators.updDate != null and variable.operators.updDate != '' ">${variable.operators.updDate}</when>
					<otherwise> = </otherwise>
				</choose> 
			#{variable.updDate}
			</if>	
			<if test="variable.roleCode != null and variable.roleCode != ''">
				AND ROLE_CODE 
				<choose>
					<when test="variable.operators.roleCode != null and variable.operators.roleCode != '' ">${variable.operators.roleCode}</when>
					<otherwise> = </otherwise>
				</choose> 
			#{variable.roleCode}
			</if>	
			<if test="variable.roleName != null and variable.roleName != ''">
				AND ROLE_NAME 
				<choose>
					<when test="variable.operators.roleName != null and variable.operators.roleName != '' ">${variable.operators.roleName}</when>
					<otherwise> = </otherwise>
				</choose> 
			#{variable.roleName}
			</if>	
			<if test="variable.remark != null and variable.remark != ''">
				AND REMARK 
				<choose>
					<when test="variable.operators.remark != null and variable.operators.remark != '' ">${variable.operators.remark}</when>
					<otherwise> = </otherwise>
				</choose> 
			#{variable.remark}
			</if>	
			<if test="variable.roleLevel != null and variable.roleLevel != ''">
				AND ROLE_LEVEL 
				<choose>
					<when test="variable.operators.roleLevel != null and variable.operators.roleLevel != '' ">${variable.operators.roleLevel}</when>
					<otherwise> = </otherwise>
				</choose> 
			#{variable.roleLevel}
			</if>	
			<if test="variable.status != null and variable.status != ''">
				AND STATUS 
				<choose>
					<when test="variable.operators.status != null and variable.operators.status != '' ">${variable.operators.status}</when>
					<otherwise> = </otherwise>
				</choose> 
			#{variable.status}
			</if>	
			<if test="variable.crtUserCode != null and variable.crtUserCode != ''">
				AND CRT_USER_CODE 
				<choose>
					<when test="variable.operators.crtUserCode != null and variable.operators.crtUserCode != '' ">${variable.operators.crtUserCode}</when>
					<otherwise> = </otherwise>
				</choose> 
			#{variable.crtUserCode}
			</if>	
			<if test="variable.crtOrgCode != null and variable.crtOrgCode != ''">
				AND CRT_ORG_CODE 
				<choose>
					<when test="variable.operators.crtOrgCode != null and variable.operators.crtOrgCode != '' ">${variable.operators.crtOrgCode}</when>
					<otherwise> = </otherwise>
				</choose> 
			#{variable.crtOrgCode}
			</if>	
			<if test="variable.crtDate != null and variable.crtDate != ''">
				AND CRT_DATE 
				<choose>
					<when test="variable.operators.crtDate != null and variable.operators.crtDate != '' ">${variable.operators.crtDate}</when>
					<otherwise> = </otherwise>
				</choose> 
			#{variable.crtDate}
			</if>	
	</select>

	<!--通过roleCode查询role-->
	<select id="getRoleByRoleCode" parameterType="String" resultType="com.sshs.system.role.model.Role">
    select
	<include refid="Field"></include>
	from
		<include refid="tableName"></include>
		where
		ROLE_CODE=#{roleCode}
	</select>

	<select id="getRoleInfo" parameterType="String" resultType="com.sshs.system.role.model.Role">
		select
		<include refid="Field"></include>
		from
		<include refid="tableName"></include>
		where 1=1
		<if test="roleCode!='' and roleCode !=null">
			AND ROLE_CODE = #{roleCode}
		</if>
		<if test="roleId!='' and roleId !=null">
			AND ROLE_ID = #{roleId}
		</if>
		<if test="roleName!='' and roleName !=null">
			AND ROLE_NAME = #{roleName}
		</if>
	</select>
</mapper>