<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sshs.system.role.mapper.RoleMapper">
	
	<!--表名 -->
	<sql id="tableName">
		SYS_ROLE
	</sql>
	
	<!-- 字段 -->
	<sql id="Field">
				ROLE_ID ,
				UPD_USER_CODE,
				UPD_ORG_CODE,
				UPD_DATE,
				ROLE_CODE,
				ROLE_NAME,
				REMARK,
				ROLE_LEVEL,
				STATUS,
				CRT_USER_CODE,
				CRT_ORG_CODE,
				CRT_DATE
	</sql>
	  <!-- 查询系统管理->系统管理-角色表-查询列信息 -->
	<select id="findForList" parameterType="com.sshs.core.page.Page"
		resultType="com.sshs.system.role.model.Role">
		SELECT  
		<include refid="Field"></include>
		FROM 
		<include refid="tableName"></include>
		WHERE 1=1
			<if test="variables.roleId != null and variables.roleId != ''">
				AND ROLE_ID 
				<choose>
					<when test="operators.roleId != null and operators.roleId != '' ">${operators.roleId}</when>
					<otherwise> = </otherwise>
				</choose> 
			#{variables.roleId}
			</if>	
			<if test="variables.updUserCode != null and variables.updUserCode != ''">
				AND UPD_USER_CODE 
				<choose>
					<when test="operators.updUserCode != null and operators.updUserCode != '' ">${operators.updUserCode}</when>
					<otherwise> = </otherwise>
				</choose> 
			#{variables.updUserCode}
			</if>	
			<if test="variables.updOrgCode != null and variables.updOrgCode != ''">
				AND UPD_ORG_CODE 
				<choose>
					<when test="operators.updOrgCode != null and operators.updOrgCode != '' ">${operators.updOrgCode}</when>
					<otherwise> = </otherwise>
				</choose> 
			#{variables.updOrgCode}
			</if>	
			<if test="variables.updDate != null and variables.updDate != ''">
				AND UPD_DATE 
				<choose>
					<when test="operators.updDate != null and operators.updDate != '' ">${operators.updDate}</when>
					<otherwise> = </otherwise>
				</choose> 
			#{variables.updDate}
			</if>	
			<if test="variables.roleCode != null and variables.roleCode != ''">
				AND ROLE_CODE 
				<choose>
					<when test="operators.roleCode != null and operators.roleCode != '' ">${operators.roleCode}</when>
					<otherwise> = </otherwise>
				</choose> 
			#{variables.roleCode}
			</if>	
			<if test="variables.roleName != null and variables.roleName != ''">
				AND ROLE_NAME 
				<choose>
					<when test="operators.roleName != null and operators.roleName != '' ">${operators.roleName}</when>
					<otherwise> = </otherwise>
				</choose> 
			#{variables.roleName}
			</if>	
			<if test="variables.remark != null and variables.remark != ''">
				AND REMARK 
				<choose>
					<when test="operators.remark != null and operators.remark != '' ">${operators.remark}</when>
					<otherwise> = </otherwise>
				</choose> 
			#{variables.remark}
			</if>	
			<if test="variables.roleLevel != null and variables.roleLevel != ''">
				AND ROLE_LEVEL 
				<choose>
					<when test="operators.roleLevel != null and operators.roleLevel != '' ">${operators.roleLevel}</when>
					<otherwise> = </otherwise>
				</choose> 
			#{variables.roleLevel}
			</if>	
			<if test="variables.status != null and variables.status != ''">
				AND STATUS 
				<choose>
					<when test="operators.status != null and operators.status != '' ">${operators.status}</when>
					<otherwise> = </otherwise>
				</choose> 
			#{variables.status}
			</if>	
			<if test="variables.crtUserCode != null and variables.crtUserCode != ''">
				AND CRT_USER_CODE 
				<choose>
					<when test="operators.crtUserCode != null and operators.crtUserCode != '' ">${operators.crtUserCode}</when>
					<otherwise> = </otherwise>
				</choose> 
			#{variables.crtUserCode}
			</if>	
			<if test="variables.crtOrgCode != null and variables.crtOrgCode != ''">
				AND CRT_ORG_CODE 
				<choose>
					<when test="operators.crtOrgCode != null and operators.crtOrgCode != '' ">${operators.crtOrgCode}</when>
					<otherwise> = </otherwise>
				</choose> 
			#{variables.crtOrgCode}
			</if>	
			<if test="variables.crtDate != null and variables.crtDate != ''">
				AND CRT_DATE 
				<choose>
					<when test="operators.crtDate != null and operators.crtDate != '' ">${operators.crtDate}</when>
					<otherwise> = </otherwise>
				</choose> 
			#{variables.crtDate}
			</if>	
	</select>

	<!--通过roleCode查询role-->
	<select id="getRoleByRoleCode" parameterType="String" resultType="com.sshs.system.role.model.Role">
    select
	<include refid="Field"></include>
	from
		<include refid="tableName"></include>
		where
		ROLE_CODE=#{roleCode}
	</select>

	<select id="getRoleInfo" parameterType="String" resultType="com.sshs.system.role.model.Role">
		select
		<include refid="Field"></include>
		from
		<include refid="tableName"></include>
		where 1=1
		<if test="roleCode!='' and roleCode !=null">
			AND ROLE_CODE = #{roleCode}
		</if>
		<if test="roleId!='' and roleId !=null">
			AND ROLE_ID = #{roleId}
		</if>
		<if test="roleName!='' and roleName !=null">
			AND ROLE_NAME = #{roleName}
		</if>
	</select>
</mapper>