<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sshs.system.post.mapper.PostMapper">
	
	<!--表名 -->
	<sql id="tableName">
		SYS_POST
	</sql>
	
	<!-- 字段 -->
	<sql id="Field">
				POST_ID ,
				CRT_DATE,
				UPD_USER_CODE,
				UPD_ORG_CODE,
				UPD_DATE,
				POST_NO,
				POST_NAME,
				POST_SERIAL,
				POST_SERIAL_CHILD,
				POST_DESC,
				STAND_ORG_CODE,
				CRT_USER_CODE,
				CRT_ORG_CODE
	</sql>

	 
    <!-- 分页查询系统管理->系统管理-岗位表-查询列信息 -->
	<select id="findForList" parameterType="Map"
		resultType="Post">
		SELECT  
		<include refid="Field"></include>
		FROM 
		<include refid="tableName"></include>
		WHERE 1=1
			<if test="postId != null and postId != ''">
				AND POST_ID 
				<choose>
					<when test="operators.postId != null and operators.postId != '' ">${operators.postId}</when>
					<otherwise> = </otherwise>
				</choose> 
			#{postId}
			</if>	
			<if test="crtDate != null and crtDate != ''">
				AND CRT_DATE 
				<choose>
					<when test="operators.crtDate != null and operators.crtDate != '' ">${operators.crtDate}</when>
					<otherwise> = </otherwise>
				</choose> 
			#{crtDate}
			</if>	
			<if test="updUserCode != null and updUserCode != ''">
				AND UPD_USER_CODE 
				<choose>
					<when test="operators.updUserCode != null and operators.updUserCode != '' ">${operators.updUserCode}</when>
					<otherwise> = </otherwise>
				</choose> 
			#{updUserCode}
			</if>	
			<if test="updOrgCode != null and updOrgCode != ''">
				AND UPD_ORG_CODE 
				<choose>
					<when test="operators.updOrgCode != null and operators.updOrgCode != '' ">${operators.updOrgCode}</when>
					<otherwise> = </otherwise>
				</choose> 
			#{updOrgCode}
			</if>	
			<if test="updDate != null and updDate != ''">
				AND UPD_DATE 
				<choose>
					<when test="operators.updDate != null and operators.updDate != '' ">${operators.updDate}</when>
					<otherwise> = </otherwise>
				</choose> 
			#{updDate}
			</if>	
			<if test="postNo != null and postNo != ''">
				AND POST_NO 
				<choose>
					<when test="operators.postNo != null and operators.postNo != '' ">${operators.postNo}</when>
					<otherwise> = </otherwise>
				</choose> 
			#{postNo}
			</if>	
			<if test="postName != null and postName != ''">
				AND POST_NAME 
				<choose>
					<when test="operators.postName != null and operators.postName != '' ">${operators.postName}</when>
					<otherwise> = </otherwise>
				</choose> 
			#{postName}
			</if>	
			<if test="postSerial != null and postSerial != ''">
				AND POST_SERIAL 
				<choose>
					<when test="operators.postSerial != null and operators.postSerial != '' ">${operators.postSerial}</when>
					<otherwise> = </otherwise>
				</choose> 
			#{postSerial}
			</if>	
			<if test="postSerialChild != null and postSerialChild != ''">
				AND POST_SERIAL_CHILD 
				<choose>
					<when test="operators.postSerialChild != null and operators.postSerialChild != '' ">${operators.postSerialChild}</when>
					<otherwise> = </otherwise>
				</choose> 
			#{postSerialChild}
			</if>	
			<if test="postDesc != null and postDesc != ''">
				AND POST_DESC 
				<choose>
					<when test="operators.postDesc != null and operators.postDesc != '' ">${operators.postDesc}</when>
					<otherwise> = </otherwise>
				</choose> 
			#{postDesc}
			</if>	
			<if test="standOrgCode != null and standOrgCode != ''">
				AND STAND_ORG_CODE 
				<choose>
					<when test="operators.standOrgCode != null and operators.standOrgCode != '' ">${operators.standOrgCode}</when>
					<otherwise> = </otherwise>
				</choose> 
			#{standOrgCode}
			</if>	
			<if test="crtUserCode != null and crtUserCode != ''">
				AND CRT_USER_CODE 
				<choose>
					<when test="operators.crtUserCode != null and operators.crtUserCode != '' ">${operators.crtUserCode}</when>
					<otherwise> = </otherwise>
				</choose> 
			#{crtUserCode}
			</if>	
			<if test="crtOrgCode != null and crtOrgCode != ''">
				AND CRT_ORG_CODE 
				<choose>
					<when test="operators.crtOrgCode != null and operators.crtOrgCode != '' ">${operators.crtOrgCode}</when>
					<otherwise> = </otherwise>
				</choose> 
			#{crtOrgCode}
			</if>	
	</select>
</mapper>